* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url("https://mittalinstitute.org/web_components/images/mie-b.jpg");
    object-fit: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}